<h1>{{titulo}}</h1>

<div class="container-fluid">
  <div class="row">
    <div *ngFor="let serie of series" class="col-sm-4">
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title>{{serie.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://image.tmdb.org/t/p/w500{{serie.poster_path}}" alt="{{serie.title}}">
            <mat-card-content>
              <p class="card-text">{{serie.overview}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button routerLink="/series/{{serie.id}}" color="primary">VER</button>
            </mat-card-actions>
          </mat-card>
    </div>
  </div>
</div>
